  /* general guidelines for the entire page, font for whole page */
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: white;
}

header {
    padding: 20px;
    background-color: lightpink;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

/* formats the navigation bar at the top */
header nav {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* makes text white for the header and removes the decorative blue colour that it defaults to */
header nav a {
    color:white;
    text-decoration: none;
}

a {
    color:grey;
    text-decoration:none;
}

/* changes colour of the nav bar links when hovered over  */
a:hover {
    color:rgb(188, 129, 139)
}


p {
    font-size: 16px;
}

/* set size for image and centered on page  */
.myphoto {
    width:400px;
    height:500px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/* sets layout for contact information at the bottom */
#contact-list {
    list-style-type:none;
    font-size:larger;
    font:darkgrey;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}

/* sets properties for all headers to center */
section h2 {
    position:inline-block;
    text-align:center;
    font-size:30px;
    border-style:none;
    border-radius:20px;
    border-color:black;
}

/* sets contact info at bottom to be in one line */
#contact-info {
    padding: 25px;
    display:inline;
}

/* sets the first image to be larger than the others */
#app1 img{
    height: auto;
    width: 82.5rem;
  }

.apps {
    flex: 50%;
    padding: 0 4px;
}

.container__image-main {
    display: flex;
}

.container__image-secondary {
    display: flex;
    flex-wrap: wrap;
}

#work {
    align-items:center;
}
  
/* sets properties for the application images */
.apps img {
    flex-wrap:wrap;
    width:600px;
    height:400px;
    margin-top: 8px;
    vertical-align: middle;
    border: 5px solid pink;
    filter:grayscale(90%);
}

/* turns brightness up when hovered over the application to display colour (which was 
greyscaled in the previous class img */
.apps img:hover {
    filter:brightness(100%);
}

/* customizes the horizontal ruler */
hr.dotted {
    border-top: 3px dotted #bbb;
    line-height:5px;
    margin:20px 0;
}

/* customizes the screen to display things differently when the screen size is made smaller
this made the body stack into a column, as well as the navigation links when the screen size
is less than 400 pixels */

@media screen and (max-width:400px) {
    body {
        flex-direction:column;
        width:100%;
    }

    header nav,
    #contact-list {
        display:flex;
        flex-direction:column;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:700px) {
    .apps {
        width:100%;
    }
}

